body{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h1{
  font-family: system-ui;
  text-align: center;

}
.text{
  text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  /* Style des cellules du tableau */
  .tdM {
    border: 1px solid rgb(164, 164, 164);
    padding: 8px;
    text-align: center;
  }

  
  .products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  
  
  