
table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border: 1px solid rgb(164, 164, 164);
  padding: 8px;
  text-align: center;
}
.menu {
  background-color: #ffffff;
  width: 100%;
  position: relative;
}
.tdLS{
  height: 60px;
  background-color: #eee;
}
.td{
  height: 60px;
}

.SearchBar{
  height: 35px;
  width: 290px;
  border-radius: 24px;
  border: 2px solid rgb(53, 65, 79);
}
.SearchImg{
  height: 40px;
}
.signUpBtn{
  float: left;
  margin-left: 150px;
  margin-top: 16px;
  color: black;
  text-decoration: none;
  font-size: 19px;
}
.loginBtn{
  float: left;
  margin-left: 160px;
  margin-top: 3px;
  color: black;
  text-decoration: none;
  font-size: 19px;
}
.icon{
  margin-right: 94px;
float: right;
}

.icon2{
  margin-right: 116px;
float: right;
}

